.user.user-menu{
    width:220px;
    text-align: center;
}

.user.user-menu .dropdown-menu{
    width: 220px;
}

@media (max-width: 991px){
    .navbar-custom-menu > .navbar-nav>li > .dropdown-menu{
        right:0;
    }
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer{
    padding:0;
    -webkit-box-shadow: 0px 19px 102px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 19px 102px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 19px 102px -19px rgba(0,0,0,0.75);
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer a{
    text-align: center;
    padding:10px;
    color: #262626 !important;
}

.navbar.navbar-static-top a{
    transition: background 0.25s;
}
.navbar.navbar-static-top a:hover{
    transition: background 0.25s;
}
.sidebar a{
    transition: background 0.25s, border-color 0.25s;
}
.sidebar a:hover{
    transition: background 0.25s, border-color 0.25s;
}
.content-header .btn{
    margin-top:10px;
}
a.asc:after{
    content: ' ▲';
}
a.desc:after{
    content: ' ▼';
}